<!DOCTYPE html>
<html>
<head>

  <title>WiscLandWebApp</title>
  <link rel="stylesheet" href="http://js.arcgis.com/3.8/js/esri/css/esri.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://js.arcgis.com/3.8/"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>



</head>
<body>

<% if user_signed_in? %>
	<%= render 'layouts/header' %>
	<div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">


<% else %>
	<%= render 'layouts/logo' %>
<% end %>

<%= render 'layouts/messages' %>

<%= yield %>

		</div>
    </div>
</body>
</html>
